extends layout

block content
  .container.mt-5
    h1.display-4= title
    p.lead.mb-4 Welcome to #{title}

    button.btn.btn-primary.mb-3(
      type="button"
      onclick="faster()"
    ) Click Me!

    #faster.alert.alert-info
      | Initial content
    script.
      let value = 1;
      let amt = 2;
      function faster() {
        amt *= 2;
        value += amt;
        document.getElementById('faster').innerHTML = `
          <strong>Result:</strong> ${value} (${amt}x multiplier)
        `;
      }
div.container-fluid
  div.row
    each item in results
      div.col-sm-2
        p #{item.model} - #{item.range} km - #{item.brand}

     

